node_modules
.expo
dist
web-build

android/.gradle
android/build
android/app/build
android/app/.cxx
android/app/.externalNativeBuild

*.log
gradle-error.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.local